<config>  
  <devices>  
    <entry name="{{ fw_hostname }}">  
      <deviceconfig>  
        <system>  
          <ntp>  
            <servers>  
              <entry name="ntp-server-1">  
                <address>pool.ntp.org</address>  
              </entry>  
            </servers>  
          </ntp>  
          <dns-setting>  
            <servers>  
              {% for server in dns_servers %}  
              <entry name="dns-{{ loop.index }}">  
                <server>{{ server }}</server>  
              </entry>  
              {% endfor %}  
            </servers>  
          </dns-setting>  
        </system>  
      </deviceconfig>  
    </entry>  
  </devices>  
</config>  