<config>
  <devices>
    <entry name="{{ fw_hostname }}">
      <vsys>
        <entry name="vsys1">
          <rulebase>
            <security>
              <!-- Regla 1: Denegar TODO por defecto (con logging) -->
              <rules>
                <entry name="DENY-ALL">
                  <description>Bloqueo explícito de tráfico no permitido</description>
                  <from>
                    <member>any</member>
                  </from>
                  <to>
                    <member>any</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>
                    <member>any</member>
                  </service>
                  <application>
                    <member>any</member>
                  </application>
                  <action>deny</action>
                  <log-start>yes</log-start>
                  <log-end>yes</log-end>
                </entry>

                <!-- Regla 2: Permitir administración (SSH/HTTPS desde redes de confianza) -->
                <entry name="ALLOW-MGMT">
                  <from>
                    <member>MGMT-ZONE</member>
                  </from>
                  <to>
                    <member>MGMT-ZONE</member>
                  </to>
                  <source>
                    <member>{{ mgmt_allowed_ips }}</member> <!-- Variable: Ej: 192.168.1.0/24 -->
                  </source>
                  <destination>
                    <member>{{ fw_mgmt_ip }}</member> <!-- Variable: IP de gestión del FW -->
                  </destination>
                  <service>
                    <member>ssh</member>
                    <member>https</member>
                  </service>
                  <action>allow</action>
                </entry>

                <!-- Regla 3: Permitir tráfico esencial (DNS/NTP/ICMP) -->
                <entry name="ALLOW-ESSENTIALS">
                  <from>
                    <member>any</member>
                  </from>
                  <to>
                    <member>any</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>
                    <member>dns</member>
                    <member>ntp</member>
                    <member>ping</member>
                  </service>
                  <action>allow</action>
                </entry>
              </rules>
            </security>
          </rulebase>
        </entry>
      </vsys>
    </entry>
  </devices>
</config>